[app]
name = "auth-app"
secret_key = "THE-POW3RRAN6ER"
issuer = "auth-app"
token_expired_at = 60

[server]
host = "localhost"
port = 4001
read_timeout = 5
write_timeout = 10
idle_timeout = 5

[database.sqlite]
is_active = true
db_file = "storage.db"